#login-container {
  width: 50%;
  padding: 10%;
  border: 2px solid red;
}

.bg-white {
  margin: 0 auto;
}
.success {
  background-color: #90ee90;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 16px;
  text-align: center;
}

.fail {
  background-color: #ffcccb;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 16px;
  text-align: center;
}

#googleLoginSuggestionText {
  text-align: center;
}

#loginLink {
  text-align: center;
}

#portfolio {
  display: flex;
  flex-direction: column;
}

.portfolioItem {
  text-align: left;
}

#shopMazzoImg {
  height: 75%;
}

div.abcRioButton.abcRioButtonBlue {
  width: 100% !important;
}
